* {
    box-sizing: border-box;
    margin: 0;
    font-family: sans-serif;
}
body {
    background-color:wheat;
}
header {
    width:100%;
    height: 180px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

main {
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.controls {
    width: 160px;
    height: 500px;
    background-color: rgb(221, 217, 217);
    border:3px solid rgb(94, 92, 92);
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.container{
    width: 500px;
    height:500px;
    border: 0;
    display: flex;
    flex-wrap: wrap;
    padding:0;
}

.cell {
    width: 6.25%;
    height: 6.25%;
    margin: 0;
    background-color: white;
}

#color-pick{
    border-radius: 10px;
    width: 100px;
    height: 50px;
    border:1px solid gray;
}