* {
    box-sizing: border-box;
    margin: 0;
    font-family: sans-serif;
}
body {
    background-color:wheat;
}
header {
    width:100%;
    height: 180px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.spacer{
    height: 80px;
}
main {
    display: flex;
    justify-content: center;
}
.controls {
    width: 160px;
    height: 320px;
    
}

.container{
    width: 320px;
    height:320px;
    border: 0;
    display: flex;
    flex-wrap: wrap;
    padding:0;
}

.cell {
    border: 1px solid black;
    width: 20px;
    height: 20px;
    margin: 0;
    background-color: white;
}